@font-face {
    font-family: 'HouschkaRoundedAlt 3';
    src: url('../fonts/HouschkaRoundedAlt-Regular10.eot');
    src: local('HouschkaRoundedAlt Regular 10'), local('HouschkaRoundedAlt-Regular10'),
        url('../fonts/HouschkaRoundedAlt-Regular10.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HouschkaRoundedAlt-Regular10.woff2') format('woff2'),
        url('../fonts/HouschkaRoundedAlt-Regular10.woff') format('woff'),
        url('../fonts/HouschkaRoundedAlt-Regular10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HouschkaRoundedAlt 2';
    src: url('../fonts/HouschkaRoundedAlt-Regular11.eot');
    src: local('HouschkaRoundedAlt Regular 11'), local('HouschkaRoundedAlt-Regular11'),
        url('../fonts/HouschkaRoundedAlt-Regular11.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HouschkaRoundedAlt-Regular11.woff2') format('woff2'),
        url('../fonts/HouschkaRoundedAlt-Regular11.woff') format('woff'),
        url('../fonts/HouschkaRoundedAlt-Regular11.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HouschkaRoundedAlt';
    src: url('../fonts/HouschkaRoundedAlt-Regular12.eot');
    src: local('HouschkaRoundedAlt Regular 12'), local('HouschkaRoundedAlt-Regular12'),
        url('../fonts/HouschkaRoundedAlt-Regular12.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HouschkaRoundedAlt-Regular12.woff2') format('woff2'),
        url('../fonts/HouschkaRoundedAlt-Regular12.woff') format('woff'),
        url('../fonts/HouschkaRoundedAlt-Regular12.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HouschkaRoundedAlt 7';
    src: url('../fonts/HouschkaRoundedAlt-Regular6.eot');
    src: local('HouschkaRoundedAlt Regular 6'), local('HouschkaRoundedAlt-Regular6'),
        url('../fonts/HouschkaRoundedAlt-Regular6.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HouschkaRoundedAlt-Regular6.woff2') format('woff2'),
        url('../fonts/HouschkaRoundedAlt-Regular6.woff') format('woff'),
        url('../fonts/HouschkaRoundedAlt-Regular6.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HouschkaRoundedAlt 9';
    src: url('../fonts/HouschkaRoundedAlt-Regular4.eot');
    src: local('HouschkaRoundedAlt Regular 4'), local('HouschkaRoundedAlt-Regular4'),
        url('../fonts/HouschkaRoundedAlt-Regular4.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HouschkaRoundedAlt-Regular4.woff2') format('woff2'),
        url('../fonts/HouschkaRoundedAlt-Regular4.woff') format('woff'),
        url('../fonts/HouschkaRoundedAlt-Regular4.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HouschkaRoundedAlt 4';
    src: url('../fonts/HouschkaRoundedAlt-Regular9.eot');
    src: local('HouschkaRoundedAlt Regular 9'), local('HouschkaRoundedAlt-Regular9'),
        url('../fonts/HouschkaRoundedAlt-Regular9.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HouschkaRoundedAlt-Regular9.woff2') format('woff2'),
        url('../fonts/HouschkaRoundedAlt-Regular9.woff') format('woff'),
        url('../fonts/HouschkaRoundedAlt-Regular9.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HouschkaRoundedAlt 5';
    src: url('../fonts/HouschkaRoundedAlt-Regular8.eot');
    src: local('HouschkaRoundedAlt Regular 8'), local('HouschkaRoundedAlt-Regular8'),
        url('../fonts/HouschkaRoundedAlt-Regular8.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HouschkaRoundedAlt-Regular8.woff2') format('woff2'),
        url('../fonts/HouschkaRoundedAlt-Regular8.woff') format('woff'),
        url('../fonts/HouschkaRoundedAlt-Regular8.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HouschkaRoundedAlt 8';
    src: url('../fonts/HouschkaRoundedAlt-Regular5.eot');
    src: local('HouschkaRoundedAlt Regular 5'), local('HouschkaRoundedAlt-Regular5'),
        url('../fonts/HouschkaRoundedAlt-Regular5.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HouschkaRoundedAlt-Regular5.woff2') format('woff2'),
        url('../fonts/HouschkaRoundedAlt-Regular5.woff') format('woff'),
        url('../fonts/HouschkaRoundedAlt-Regular5.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HouschkaRoundedAlt 6';
    src: url('../fonts/HouschkaRoundedAlt-Regular7.eot');
    src: local('HouschkaRoundedAlt Regular 7'), local('HouschkaRoundedAlt-Regular7'),
        url('../fonts/HouschkaRoundedAlt-Regular7.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HouschkaRoundedAlt-Regular7.woff2') format('woff2'),
        url('../fonts/HouschkaRoundedAlt-Regular7.woff') format('woff'),
        url('../fonts/HouschkaRoundedAlt-Regular7.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HouschkaRoundedAlt 10';
    src: url('../fonts/HouschkaRoundedAlt-Regular3.eot');
    src: local('HouschkaRoundedAlt Regular 3'), local('HouschkaRoundedAlt-Regular3'),
        url('../fonts/HouschkaRoundedAlt-Regular3.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HouschkaRoundedAlt-Regular3.woff2') format('woff2'),
        url('../fonts/HouschkaRoundedAlt-Regular3.woff') format('woff'),
        url('../fonts/HouschkaRoundedAlt-Regular3.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HouschkaRoundedAlt 11';
    src: url('../fonts/HouschkaRoundedAlt-Regular2.eot');
    src: local('HouschkaRoundedAlt Regular 2'), local('HouschkaRoundedAlt-Regular2'),
        url('../fonts/HouschkaRoundedAlt-Regular2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HouschkaRoundedAlt-Regular2.woff2') format('woff2'),
        url('../fonts/HouschkaRoundedAlt-Regular2.woff') format('woff'),
        url('../fonts/HouschkaRoundedAlt-Regular2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HouschkaRoundedAlt';
    src: url('../fonts/HouschkaRoundedAlt-MediumItalic.eot');
    src: local('HouschkaRoundedAlt-MediumItalic'),
        url('../fonts/HouschkaRoundedAlt-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HouschkaRoundedAlt-MediumItalic.woff2') format('woff2'),
        url('../fonts/HouschkaRoundedAlt-MediumItalic.woff') format('woff'),
        url('../fonts/HouschkaRoundedAlt-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'HouschkaRoundedAlt 3';
}


body {
    background: #FFFFFF;
    margin: 0;
}

p {
    font-family: 'HouschkaRoundedAlt 3';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'HouschkaRoundedAlt 9';
}

.slider-section {
    background: #912F46;
    border-radius: 0 0 50px 50px;
    padding-top: 30px;
    position: relative;
}

.slider-pattern {
    width: 45%;
    position: absolute;
    margin-bottom: 0px;
    border-radius: 0 0 50px 0;
    right: 0;
    bottom: 0;
}

.slider {
}

.slider-item {
    display: flex;
    grid-gap: 74px;
    align-items: center;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
}

.slider-item__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.slider-item__date {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
}

.slider-item__title {
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    font-family: 'HouschkaRoundedAlt 9';
    margin-bottom: 30px;
}

.slider-item__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
}

.slider-item__button {
    font-family: 'HouschkaRoundedAlt 9';
    width: 16rem;
    font-size: 18px;
    line-height: 24px;
    padding: 20px 0;
    background: #FFFFFF;
    border-radius: 12px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.3s;
}

.slider-item__button:hover {
    opacity: 0.7;
}

.slider-item__image {
}

.slider-item__image img {
}

.slider-item__label {
    right: 8%;
    top: 25%;
    display: inline-block;
    padding: 0.35em 0.65em;
    color: #fff;
    background: #D50032;
    border-radius: 50px;
    position: absolute;
    font-size: 30px;
    display: grid;
    justify-items: center;
}

.slider-item__label-old {
    position: relative;
    font-size: 18px;
    color: #DA879B;
}

.slider-item__label-old:before {
    border-bottom: 2px solid #da879b;
    position: absolute;
    content: "";
    width: 70%;
    height: 48%;
    transform: rotate(340deg);
}

.loyal-section {
    background: #fff;
    border-radius: 0 0 50px 50px;
    padding-top: 30px;
    position: relative;
}

.loyal {
    margin-top: 100px;
    margin-bottom: 100px;
}

.loyal-item {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    color: black;
    padding-top: 50px;
    /* padding-bottom: 50px; */
    justify-content: space-between;
}

.loyal-item__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loyal-item__description {
    font-size: 18px;
    line-height: 22px;
}

.loyal-item__title {
    font-family: 'HouschkaRoundedAlt 9';
    font-size: 56px;
    line-height: 65px;
    z-index: 0;
}

.loyal-item__title::before {
    content: '';
    position: absolute;
    top: 90px;
    left: 450px;
    width: 117px;
    height: 125px;
    background: url(../img/svg/green_cyrcles.svg) no-repeat center;
    background-size: cover;
    z-index: -1;
}

.loyal-item__image img{
    max-width: 350px;
}

.loyal-item__content-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 36px;
}

.loyal-item__card {
    background: #FFFFFF;
    box-shadow: 0px 8px 30px #e8ebed;
    border: 0;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
}

.loyal-item__card-container {
    display: flex;
    align-items: center;
    grid-gap: 15px;
}

.loyal-item__card-icon img{
    width: 90px;
}

.loyal-item__card-title {
    font-family: 'HouschkaRoundedAlt 9';
    font-size: 30px;
    line-height: 45px;
    margin: 0;
    text-align: center;
}

.loyal-item__card-description {
    font-family: 'HouschkaRoundedAlt 9';
    font-size: 20px;
    line-height: 29px;
    background: #F5F5F5;
    padding: 15px 20px;
    border-radius: 15px;
    flex:1 1 auto;
    display: flex;
    justify-content: space-between;
}

.loyal-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 55px;
}

.loyal-footer__description {
    font-family: 'HouschkaRoundedAlt 7';
    font-size: 20px;
    line-height: 26px;
}

.app-section {
    background: #CA6982;
    border-radius: 0 0 50px 50px;
}

.app {
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.app-item {

}

.app-item__title {
    font-family: 'HouschkaRoundedAlt 9';
    color: white;
    font-size: 56px;
    line-height: 65px;
    margin-bottom: 60px;
    position: relative;
    z-index: 0;
}

.app-item__title:before {
    content: '';
    position: absolute;
    top: -146px;
    left: -135px;
    width: 253px;
    height: 289px;
    background: url(../img/svg/red_cyrcles.svg) no-repeat center;
    background-size: cover;
    z-index: -1;
}

.app-item__text {
    font-family: 'HouschkaRoundedAlt 3';
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin-bottom: 20px;
}

.app-item__buttons {
    display: flex;
    grid-gap: 20px;
}

.app-item__buttons a {
    text-decoration: none;
    transition: opacity 0.3s;
}

.app-item__buttons a:hover {
    opacity: 0.7;
}

.app-item__buttons img {
    height: 50px;
}

.app-item__image img{
    width: 387px;
}

.products {
    padding-top: 50px;
    padding-bottom: 50px;
}

.products-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.arrows {
    display: flex;
    grid-gap: 15px;
}

.arrows img{
    transition: opacity 0.3s;
}

.arrows img:hover {
    opacity: 0.7;
}

.cards {
    display: flex;
    grid-gap: 20px;
}

.cards-item {
    background: #FFFFFF;
    box-shadow: 0px 8px 30px #e8ebed;
    border: 0;
    border-radius: 30px;
    padding: 15px;
}

.cards-item__badge {
    font-family: 'HouschkaRoundedAlt 5';
    font-size: 18px;
    line-height: 1;
    vertical-align: baseline;
    color: white;
    background: #A1C441;
    padding: 0.4rem 0.5rem 0.3rem 0.5rem;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.cards-item__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-item__image img{
    max-width: 100%;
    height: auto;
    margin: 25px;
}

.cards-item__title {
    font-family: 'HouschkaRoundedAlt 5';
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 1rem;
}

.cards-item__old-price {
    font-family: 'HouschkaRoundedAlt 3';
    color: #8D929A;
    font-size: 21px;
    line-height: 30px;
    text-decoration: line-through;
}

.cards-item__price {
    font-family: 'HouschkaRoundedAlt 5';
    color: #912F46;
    font-size: 27px;
    line-height: 29px;
}

.banner-section {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.banner {
    background: #912F46;
    border-radius: 40px;
    padding: 5rem;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.banner::before {
    position: absolute;
    content:url(../img/svg/banner.svg);
    right: 0;
    bottom: -10px;
    z-index: -1;
}

.banner-text {
    font-family: 'HouschkaRoundedAlt 9';
    font-size: 40px;
    line-height: 45px;
    color: white;
    margin-bottom: 20px;
    width: 50%;
}

.banner-content {
    display: grid;
}

.banner-bottom {
    font-family: 'HouschkaRoundedAlt 9';
    width: 16rem;
    font-size: 18px;
    line-height: 24px;
    padding: 20px 0;
    background: #FFFFFF;
    border-radius: 12px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.3s;
}

.banner-bottom:hover {
    opacity: 0.7;
}

.banner-image img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 466px;
    border-radius: 0 40px 40px 0;
}

.maps-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.block-title {
    font-family: 'HouschkaRoundedAlt 9';
    font-size: 56px;
    line-height: 65px;
    margin-bottom: 50px;
    width: 50%;
}

.maps-content img{
    max-width: 100%;
}

.tabs__nav{
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    width: 24rem;
}

.socials {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}

.social-content {
    padding-left: 0px;
}

.socials {
    padding-top: 10px;
}

.socials li {
    display: inline-block;
}

.socials li a {
    color: #000;
    border-radius: 6px;
    list-style-type: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 1%;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: ease .3s;
}

.socials li a:hover {
    border: 1px solid #000;
}

.info {
    display: flex;
    justify-content: space-between;
    grid-gap: 50px;
}

.info-section {
    margin-top: 80px;
    margin-bottom: 80px;
}

.info-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

.info-columns {
    display: flex;
    grid-gap: 50px;
    margin-bottom: 25px;
}

.info-column__item-logo {
    height: 36px;
}

.info-title {
    font-family: 'HouschkaRoundedAlt 9';
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 5px;
}

.info-description {
    font-family: 'HouschkaRoundedAlt 5';
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 40px;
}

.info__logo {
    margin-bottom: 30px;
    width: 152px;
}

.info-text__description {
    font-family: 'HouschkaRoundedAlt 5';
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
}

.info-text__phone {
    font-family: 'HouschkaRoundedAlt 9';
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 20px;
}

.info-menu {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
}

.info-menu__link {
    font-family: 'HouschkaRoundedAlt 5';
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
}

.info-menu__link:hover {
    color: #912F46;
}

.info-app__buttons {
    display: flex;
    grid-gap: 20px;
}

.info-app__buttons a {
    text-decoration: none;
    transition: opacity 0.3s;
}

.info-app__buttons a:hover {
    opacity: 0.7;
}

.info-app__buttons img {
    height: 40px;
}

.questions-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.accordion {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    width: 42rem;
}

.accordion__item {
    margin-bottom: 0.5rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 54.1667px rgba(33, 33, 33, 0.15);
    border-radius: 12px;
}

.accordion__header {
    font-family: 'HouschkaRoundedAlt 5';
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    color: #000000;
    font-weight: 500;
    background-color: #ffffff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.accordion__header::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
}

.accordion__item_show .accordion__header::after {
    transform: rotate(-180deg);
}

.accordion__item_hidden .accordion__header {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.accordion__body {
    font-family: 'HouschkaRoundedAlt 7';
    font-size: 16px;
    line-height: 25px;
    padding: 24px 75px 24px 30px;
    overflow: hidden;
    background: #fff;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.accordion__item:not(.accordion__item_show) .accordion__header {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}

.tabs {
    display: flex;
    justify-content: space-between;
    grid-gap: 40px;
}

.tabs__btn {
    border: 1px solid rgba(232, 235, 237, 1);
    padding: 15px 20px;
    border-radius: 15px;
}

.tabs__btn_active {
    border: 1px solid #912F46;
    color: #912F46;
}

.tabs__btn:not(.tabs__btn_active):hover,
.tabs__btn:not(.tabs__btn_active):focus {
    border: 1px solid #912F46;
    color: #912F46;
}

.tabs__content {
    padding: 0; 
}

.tabs__pane {
    display: none;
}

.tabs__pane_show {
    display: block;
}

html {
    scroll-behavior: smooth;
}

.mobile-menu-close {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer {
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    background: #E8EBED;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 22px 0;
    grid-gap: 50px;
    align-items: center;
}

.footer-content__item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

.footer-link {
    display: flex;
    align-items: center;
    grid-gap: 5px;
    cursor: pointer;
}

.footer-link:hover {
    opacity: 0.7;
}

.divider {
    height: 1px;
    border: none;
    background: #E8EBED;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

ul li {
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 101;
    background-color: #912f46;
}

.mobile-menu-icon {
    display: none;
    margin-left: auto;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.header .container {
    display: flex;
    grid-gap: 16px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
    display: block;
}

.logo__image {
}

.mobile-nav {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.header .nav {
    margin-left: auto;
    display: flex;
    grid-gap: 20px;
}

.nav__item {
}

.nav__link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s;
}

.nav__link:hover {
    opacity: 0.7;
}

.nav__link--active {
}

@media (max-width: 1200px) {
    .slider-item__image img {
        width: 400px;
    }
}

@media (max-width: 1130px) {
    .banner {
        padding: 4rem;
    }
}

@media (max-width: 1098px) {
    .banner {
        padding: 3.9rem;
    }
}

@media (max-width: 1098px) {
    .banner {
        padding: 3.6rem;
    }
}
@media (max-width: 1053px) {
    .banner {
        padding: 3rem;
    }
}

@media (max-width: 991px) {

    .container {
        max-width: 950px;
    }

    .slider-item__image img {
        width: 300px;
    }

    .loyal-item__card-icon img {
        width: 70px;
    }

    .loyal-item__card-title {
        font-family: 'HouschkaRoundedAlt 9';
        font-size: 25px;
        line-height: 45px;
        margin: 0;
        text-align: center;
    }

    .loyal-item__card-description {
        font-size: 18px;
    }

    .app-item__title:before {
        top: -120px;
        left: 0;
    }

    .banner {
        background: #912F46;
        border-radius: 40px;
        padding: 2rem;
        overflow: hidden;
        position: relative;
        z-index: 0;
    }

    .block-title {
        font-family: 'HouschkaRoundedAlt 9';
        font-size: 38px;
        line-height: 44px;
        margin-bottom: 50px;
        width: 50%;
    }

}

@media (max-width: 767px) {

    .slider-item {
        flex-direction: column;
    }

    .slider-item__date {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 18px;
    }

    .slider-item__title {
        font-weight: 400;
        font-size: 74px;
        line-height: 73px;
        font-family: 'HouschkaRoundedAlt 9';
        margin-bottom: 30px;
    }

    .slider-item__text {
        font-weight: 400;
        font-size: 19px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .slider-item__button {
        width: 100%;
    }

    .slider-item__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .slider-item__label {
        right: 10%;
        top: 66%;
        display: inline-block;
        padding: 0.35em 0.65em;
        color: #fff;
        background: #D50032;
        border-radius: 50px;
        position: absolute;
        font-size: 30px;
        display: grid;
        justify-items: center;
    }

    .mobile-menu-icon {
        display: flex;
    }

    .header .nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        position: fixed;
        top: -999999px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(145, 47, 70, 0.95);
        z-index: 9999;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav--active {
        top: 0;
        opacity: 1;
        visibility: visible;
    }

    .nav--mobile .nav__link {
        font-size: 24px;
    }


    .loyal-item {
        display: flex;
        grid-gap: 30px;
        align-items: center;
        color: black;
        padding-top: 50px;
        justify-content: space-between;
        flex-direction: column;
    }

    .loyal-item__title {
        font-family: 'HouschkaRoundedAlt 9';
        font-size: 32px;
        line-height: 35px;
        z-index: 0;
    }

    .loyal-item__title::before {
        content: '';
        position: absolute;
        top: 90px;
        left: 240px;
        width: 117px;
        height: 125px;
        background: url(../img/svg/green_cyrcles.svg) no-repeat center;
        background-size: cover;
        z-index: -1;
    }

    .loyal-item__content-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-gap: 36px;
    }

    .loyal-footer__description {
        font-family: 'HouschkaRoundedAlt 7';
        font-size: 15px;
        line-height: 26px;
    }

    .app {
        display: flex;
        padding-top: 100px;
        padding-bottom: 100px;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .app-item__content {
        text-align: center;
    }

    .app-item__title {
        font-family: 'HouschkaRoundedAlt 9';
        color: white;
        font-size: 48px;
        line-height: 52px;
        margin-bottom: 60px;
        position: relative;
        z-index: 0;
    }

    .app-item__title:before {
        content: '';
        position: absolute;
        top: -50px;
        left: 0px;
        width: 176px;
        height: 202px;
        background: url(../img/svg/red_cyrcles.svg) no-repeat center;
        background-size: cover;
        z-index: -1;
    }

    .app-item__text {
        font-family: 'HouschkaRoundedAlt 3';
        font-size: 21px;
        line-height: 22px;
        color: white;
        margin-bottom: 20px;
    }

    .app-item__buttons {
        display: flex;
        grid-gap: 20px;
        flex-direction: column;
    }

    .app-item__buttons img {
        height: 90px;
    }

    .app-item__image img {
        width: 290px;
    }

    .cards {
        display: flex;
        grid-gap: 20px;
        flex-direction: column;
    }

    .banner {
        background: #912F46;
        border-radius: 40px;
        padding: 2rem;
        overflow: hidden;
        position: relative;
        z-index: 0;
    }

    .banner::before {
        position: relative;
        content: url(../img/svg/banner.svg);
        right: 176px;
        bottom: 35px;
        z-index: -1;
    }

    .banner-content {
        display: grid;
        justify-items: center;
    }

    .banner-text {
        font-family: 'HouschkaRoundedAlt 9';
        font-size: 36px;
        line-height: 39px;
        color: white;
        margin-bottom: 20px;
        width: auto;
    }

    .block-title {
        font-family: 'HouschkaRoundedAlt 9';
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 50px;
        width: 100%;
        text-align: center;
    }

    .questions {
        display: flex;
        justify-content: space-between;
        grid-gap: 34px;
        flex-direction: column;
    }

    .tabs {
        display: flex;
        justify-content: space-between;
        grid-gap: 40px;
        flex-direction: column;
    }

    .tabs__nav{
        display: flex;
        flex-direction: column;
        grid-gap: 15px;
        width: 100%;
    }

    .accordion {
        display: flex;
        flex-direction: column;
        grid-gap: 15px;
        width: 100%;
    }

    .info {
        display: flex;
        justify-content: space-between;
        grid-gap: 50px;
        flex-direction: column;
    }

    .info-content {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .info-app__buttons {
        display: flex;
        grid-gap: 20px;
        flex-direction: column;
    }

    .info-app__buttons img {
        height: 60px;
    }

}